<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.stockify">

    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/splashScreenTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Act_news_ten">

        </activity>


        <activity android:name=".Act_news_nine" />
        <activity android:name=".Act_news_eight" />
        <activity android:name=".Act_news_7" />
        <activity android:name=".Act_news_six" />
        <activity android:name=".Act_news_five" />
        <activity android:name=".Act_news_four" />
        <activity android:name=".NewsOne" />

        <activity android:name=".Act_news_two" />
        <activity android:name=".Act_news_one" />
        <activity android:name=".Act_news_three" />


    </application>

</manifest>